
:root {
    --white: #fff;
    --black: #000;
    --gray-50: #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #565869;
    --gray-700: #40414f;
    --gray-800: #343541;
    --gray-900: #202123;
    --gray-950: #050509;
    --gizmo-gray-500: #999;
    --gizmo-gray-600: #666;
    --gizmo-gray-950: #0f0f0f;
    --theme-color: #26293f;
    --main-theme: #3f3f3f;
}


*{
    margin: 0;
    padding: 0;
    font-family:"Bree Serif";
}
body{
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.header{
    padding: 5px;
    display: flex;
    align-items: center;
    background: var(--gray-800);
    color: White;
    position: fixed;
    margin: 0px;
    width: 100%;
    min-height: 6vh;
    top: 0%;
    border-bottom: 1px solid var(--gray-100);
    padding-bottom: 10px;
    
}
.header h3{
    margin-left: auto;
    cursor: pointer;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.header .menu-bar{
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}
/* .header img{
    height: 50px;
    width: 50px;
    border-radius: 6pc;
    margin-right: 10px;
    cursor: pointer;
} */


.header .new-chat{
    font-size: 25px;
    margin-left: auto;
    cursor: pointer;
    padding-right: 10px;
}

.main{
    margin: 0px;
    background-color: var(--gray-800);
    height: 100%;
    padding-top: 10px;
    width: 100%;
    display: flex;
    min-height: 80vh;
}
.main .chat{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    padding-left:5px;

}
.b-chat{
    display: flex;
    border-radius: 1rem;
    border: 1px solid var(--gray-100);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    margin: 5px;
    margin-right: auto;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
}
/* asd fsadf asdfa sdf asdf asdf ASDfasdf asdfAS DFASdf asdf asdf asdf asdf asdf  */
/* "><script>alert(0)</script> */
.h-chat{
    display: flex;
    border-radius: 1rem;
    border: 1px solid var(--theme-color);
    background: linear-gradient(to right top, #1c06e6, #10cff1);
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    margin: 5px;
    margin-left: auto;
    overflow: hidden;
    word-wrap: break-word;
}

#typ{
    color: #fff;
    margin-left: 5px;
    position: fixed;
    margin-bottom: 3px;
    font-size: 14px;
    display: none;
}
.footer{
    background: var(--gray-800);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid var(--gray-100);
}
.footer .inp-area{
    display: flex;
    align-items: center;
    background: var(--gray-700);
    border-radius: 6px;
    padding: 5px;
    width: 90%;
}
.footer .inp-area input{
    --tw-shadow: 0 0 transparent;
    --webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    border: none;
    width: 80vw;
    margin-right: auto;
    color: var(--grey-100);
    padding-left: 5px;
    resize: none;
    overflow: visible;
    min-height: 40px;
    background: var(--gray-700);
    justify-content: center;
}
input:focus, textarea:focus {
    outline: none;
}
.footer button{
    border: none;;
    color: #707174;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    margin-left: auto;
    width:20vw;
    margin-left: auto;
    cursor: pointer;
}
.footer button:hover{
    color: #eceaea;
}
.footer button:focus{
    outline: none;
}
::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #20b2d6;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
